#main-bg {
  min-height: 100vh;
}

#content {
  padding: 40px;
}

.header {
  color: white;
  padding: 20px 20px 10px 60px;
  border-bottom: ridge 3px #009799;
}

footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  padding-left: 60px;
}
.card {
  width: 18rem;
}